* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.bg-img1 {
    background-image: url("boy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.f-control-focus:focus,
.f-check-focus:focus {
    box-shadow: none;
}