*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.fs-14{
    font-size: 14px;
}
.letter-spacing-3{
    letter-spacing: 0.3px;
}
.w-45{
    width: 45px;
}
.h-45{
    height: 45px;
}
.line-hight-1n7{
    line-height: 1.7;
}
.word-spacing-n2{
    word-spacing: 0.2px;
}